body {
    background: #001220;
    color: white;
    font-family: 'Dosis', sans-serif;
}

p, h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.title {
    top: 1cqb;
    font-size: 15cqb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 50px;
    background: linear-gradient(to  right, rgb(255, 0, 221), rgb(0, 217, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.returnbutton {
    position: fixed;
    opacity: 75%;
    top: 25px;
    left: 25px;
}

.menu {
    display: flex;
}

.gedicht-garnaal {
    font-weight: 900;
    font-size: larger;
}

.menu-items {
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
    position: relative;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
}

.menu-items img {
    width: 100%;
    height: auto;
    display: block;
}

.menu-items:hover {
    opacity: 1;
    transform: scale(1.015);
}

.blobs {
    aspect-ratio: 960/300;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.upside-down-blobs {
    transform: scaleY(-1);
    position: absolute;
    aspect-ratio: 960/300;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    top: 100%;
    left: 0;

}

.orange-blob {
    background-image: url(../img/blob_orange.svg);
}
.blue-blob {
    background-image: url(../img/blob_blue.svg);
}
.green-blob {
    background-image: url(../img/blob_green.svg);
}
.pink-blob {
    background-image: url(../img/blob_pink.svg);
}

@media(max-device-width: 768px){
    .menu-items {
        flex-basis: calc(100% - 20px);
    }
}
