h1 {
    font-size: 100px;
    font-family: Dosis;
    text-align: center;
    background: linear-gradient(to  right, rgb(255, 0, 221), rgb(0, 217, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background: #001220;
    color: white;
    font-family: 'Dosis', sans-serif;
}

h2 {
    text-align: center;
}

img {
    align-items: center;
}

p {
    text-align: center;
}