body {
    background-image: linear-gradient(to top left, rgb(39, 0, 65), rgb(29, 24, 100));
    background-color: #ffffff;
}

h1 {
    font-size: 55px;
    color: white;
}

.introduction, .info, .conclusion {
    font-family:  sans-serif;
    text-align: center;
    color: white;
}

p, ol {
    font-family: Segoe UI;
    font-size: 18px;
    text-align: center;
    list-style-position: inside;
    color: white;
}
